@import './mixins/mediaqueries';
@import './mixins/_border-radius';
@import './mixins/transition';
@import './mixins/box-shadow';

@mixin make-container($gutter: 0.75rem) {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
}
